/* 기본 레이아웃과 컨테이너 스타일 */
body {
    margin: 0;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    font-family: "VT323", monospace;
    font-size: 19px;
    user-select: none;
    overflow: hidden;
    position: fixed;
}

.window-container {
    width: 800px;
    height: 600px;
    position: relative;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
}

.main {
    width: 800px;
    height: 600px;
    background-color: #959795;
    position: relative;
    overflow: hidden;
}